# Scraping Data from a website

In [24]:
from bs4 import BeautifulSoup
import requests

In [25]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

page = requests.get(url)

data = BeautifulSoup(page.text, 'html')

In [78]:
live_data = data.find_all('table')[0]

In [79]:
data_headings = live_data.find_all('th')

In [80]:
print(data_headings)

[<th>Rank
</th>, <th>Name
</th>, <th>Industry
</th>, <th>Revenue <br/>(USD millions)
</th>, <th>Revenue growth
</th>, <th>Employees
</th>, <th>Headquarters
</th>]

In [81]:
data_headings_table = [heading.text.strip() for heading in data_headings]
print(data_headings_table)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [82]:
import pandas as pd

In [83]:
df = pd.DataFrame(columns = data_headings_table)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [68]:
column_data = live_data.find_all('tr')

In [69]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    rows_data = [data.text.strip() for data in row_data]
   
    length = len(df)
    df.loc[length] = rows_data

In [70]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
...,...,...,...,...,...,...,...
95,96,TIAA,Financials,"45,735",11.8%,"16,023","New York City, New York"
96,97,CHS,Agriculture cooperative,"45,590",-4.6%,"10,609","Inver Grove Heights, Minnesota"
97,98,Bristol-Myers Squibb,Pharmaceutical industry,"45,006",-2.5%,"34,100","New York City, New York"
98,99,Dow Chemical Company,Chemical industry,"44,622",-21.6%,"35,900","Midland, Michigan"
99,100,Best Buy,Retail,"43,452",-6.1%,"85,000","Richfield, Minnesota"

In [77]:
df.to_csv(r'C:\Users\NWANGI ONYEMAECHI\Documents\oluchiogbu022@gmail.com\Lists.csv', index = False)